*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    background: black;
    font-family: 'sunflowe';
    color:white;
    font-size: 1.2rem;
    margin: 0;
}
h1 {
    font-size: 2.5rem;
    line-height: 1.3em;
    padding-top: 1.5rem;
    font-family: 'sunflowe';
    text-align: center;
    
}

.header {
    background: #F2B33D;
    height: 80px;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
    .header a{
       color: white; 
       font-family: 'sunflowe';
       text-decoration: none;
       padding: 2em 0;
    }
.logo-nav-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
.container{
    width: 85%;
    max-width: 1500px;
    margin: 0 auto;
}

.navigation ul{
    margin: 0;
    list-style: none;
}
    .navigation ul li a {
        display: inline-block;
        padding: 1rem 1rem;
        border-radius: 4px;
    }
        .navigation ul li a:hover{
            background-color: #4F4F4D;
        }

.main{
    padding-top: 5rem;
}

.footer {
    background: #4F4F4D;
    padding: 1.5rem 0;
}
    
            
    







